;;; secrets.el -*- lexical-binding: t; -*-

(setq EMACS_DIR "~/.emacs.d/")
(setq-default
   user-full-name "Miles Strässle"                  ; Set the full name of the current user
   user-mail-address "straessle.miles@gmail.com"    ; Set the email address of the current user
   )

(setq JAVA_HOME "/usr/lib/jvm/java-openjdk/bin/java")
(setq org-archive-location "~/.personal/archives/%s::")

(setq ORG_DIR "~/.personal")


(setq AGENDA_HOME "~/.personal/agenda/home.org")
(setq AGENDA_SCHOOL "~/.personal/agenda/3semOst.org")
(setq AGENDA_WORK "~/.personal/agenda/work.org")
(setq ORG_NOTES "~/.personal/agenda/inbox.org")
;; Remove all default login parameters
(setq sql-postgres-login-params nil)
(setq sql-connection-alist
      '((angproj-dbs1 (sql-product 'postgres)
                  (sql-port 5432)
                  (sql-server "localhost")
                  (sql-user "anguser")
                  (sql-password "angproj")
                  (sql-database "angproj"))
        (impfzentrum-dbs1 (sql-product 'postgres)
                  (sql-port 5432)
                  (sql-server "localhost")
                  (sql-user "impfuser")
                  (sql-password "impfproj")
                  (sql-database "impfproj")))); define your connections
